#chart {
  width: 960px;
  height: 500px;
  background: #e6e6e6;
  font-family: "Lucida Grande";
}

text {
  pointer-events: none;
}

.grandparent text {
  font-weight: bold;
}

rect {
  fill: none;
  stroke: #fff;
}

rect.parent,
.grandparent rect {
  stroke-width: 2px;
}

.grandparent rect {
  fill: orange;
}

.grandparent:hover rect {
  fill: #ee9700;
}

.children rect.parent,
.grandparent rect {
  cursor: pointer;
}

rect.parent {
  pointer-events: all;
}

.children rect.child {
	fill: #bbb;
 	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
}

.children:hover rect.child {
  fill: #ccc;
}
